<div class="add">
    <label>Tên </label><br>
    <input matInput [(ngModel)]="this.name" ><br>
    <label>Giá </label><br>
    <input matInput [(ngModel)]="this.price" ><br>
    <label>Số lượng </label><br>
    <input matInput [(ngModel)]="this.quantity"><br>
    <label>Hình ảnh minh họa</label><br>
    <input matInput [(ngModel)]="this.photourl"><br>
    <label>collection</label><br>
    <input matInput [(ngModel)]="this.collectionitem" ><br>
    <button mat-button (click)="this.addData()" style="margin-top: 5%;">Add</button>
</div>
