<div class="add">
    <label>Tên sản phẩm</label><br>
    <input matInput [(ngModel)]="this.name" ><br>
    <label>Giá thành</label><br>
    <input matInput [(ngModel)]="this.price" ><br>
    <label>Số lượng sản phẩm</label><br>
    <input matInput [(ngModel)]="this.quantity"><br>
    <label>Hình ảnh sản phẩm</label><br>
    <input matInput [(ngModel)]="this.photourl"><br>
    <label>collection</label><br>
    <input matInput [(ngModel)]="this.collectionitem" ><br>
    <button mat-button (click)="this.addData()" style="margin-top: 5%;">Add new item</button>
</div>
